:root {
  --margin-navbar: 50px;
  --margin-text-child: 90px;
  --margin-images: 100px;
  --pink: #fb088c;
  --black: #212222;
}

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
}

/* Styles in desktop */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.logo {
  align-self: center;
  margin-left: var(--margin-navbar);
  height: 23px;
  width: 185px;
}

.navbar__container--items {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  margin-right: var(--margin-navbar);
  width: 350px;
}

span {
  background-image: linear-gradient(#fb088c, #fb088c);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  padding: 5px;
  text-decoration: none;
  transition: background-size 0.3s;
}
span:hover,
span:focus {
  background-size: 100% 2px;
}

.navbar__container--items span:hover {
  cursor: pointer;
}

.hamburger {
  display: none;
}

.close {
  display: none;
}

body {
  min-width: 320px;
}

.body__container {
  display: flex;
  margin: auto;
  padding: 15px;
  flex-direction: column;
  width: 90%;
}

.body__container--first-child {
  display: flex;
  flex-direction: column;
  height: 900px;
  margin-bottom: 50px;
}

.first,
.second,
.third {
  font-weight: 700;
  font-size: 110px;
}

.first {
  border-bottom: 1px solid #212222;
  z-index: 1;
}

.second {
  z-index: 3;
}

.third {
  border-top: 1px solid #212222;
  z-index: 1;
}

.third > h1,
.first > h1 {
  text-align: left;
  margin-left: var(--margin-text-child);
}

.second > h1 {
  text-align: right;
  margin-right: 200px;
}

.mug {
  width: 645px;
  height: 601px;
  z-index: 2;
  align-self: flex-end;
  margin-top: -770px;
  margin-right: -5px;
}


.circle {
  height: 15px;
  width: 15px;
  background: var(--pink);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-top: 15px;
}

.contact-us {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  transform: rotate(90deg);
  position: fixed;
  top: 26%;
  right: 0;
  padding: 10px;
  margin-right: -70px;
  height: 50px;
  width: 200px;
}

.line {
  align-self: center;
  margin-right: 30px;
  transform: rotate(90deg);
}

.contact-us > h4 {
  align-self: center;
  font-weight: 100;
}

.contact-us > h4:hover {
  cursor: pointer;
  color: var(--pink);
  transform: scale(1.05);
  transition: 0.2s ease;
}

.p__container {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 auto;
    width: 830px;
    height: 140px;
    padding: 10px;
  }
  
  .p__container > p {
    margin-left: 20px;
    font-weight: 100;
    line-height: 35px;
    font-size: 25px;
    padding: 5px;
    width: 95%;
  }
  
  .p__container > p > b {
    font-weight: 700;
  }
  

.tshirt__container {
  display: flex;
  margin-top: var(--margin-images);
  width: 617px;
  height: 565.04px;
}

.tshirt {
  background-image: url("../assets//Tshirt1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 442.11px;
  height: 503.46px;
  margin: auto;
  transform: scaleX(-1);
  transform: matrix(-0.99, -0.15, -0.15, 0.99, 0, 0);
}

@media only screen and (max-width: 810px) {
  /* Styles in iPad */

  .second > h1 {
    width: 650px;
    margin-left: -200px;
  }

  .body__container--first-child {
    height: 900px;
  }

  .contact-us {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  /* Styles in mobile */

  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .logo {
    align-self: center;
    margin-left: 10px;
    width: 149px;
    height: 19px;
  }

  .navbar__container--items {
    display: none;
  }

  .visible {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    right: 0;
    margin-top: 40px;
    margin-right: 20px;
    z-index: 3;
  }

  .visible span {
    cursor: pointer;
    padding: 5px;
  }

  .hamburger {
    align-self: center;
    cursor: pointer;
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
    width: 30px;
    height: 20px;
  }

  .closeButton {
    cursor: pointer;
    margin-top: 15px;
    width: 15px;
    height: 15px;
  }

  .body__container {
    display: flex;
    margin: auto;
    padding: 0;
    flex-direction: column;
    width: 100%;
  }

  .body__container--first-child {
    height: 500px;
  }

  .first,
  .second,
  .third {
    font-weight: 700;
    font-size: 60px;
    padding: 5px;
  }

  .first {
    border-bottom: 1px solid #212222;
    z-index: 2;
  }

  .second > h1 {
    text-align: left;
    z-index: 2;
    width: 370px;
    margin-left: -110px;
  }

  .third {
    border-top: 1px solid #212222;
    z-index: 2;
  }

  .third > h1,
  .first > h1 {
    text-align: right;
    margin-left: 70px;
    width: 100%;
  }

  .mug {
    display: flex;
    margin: auto;
    height: 310px;
    width: 340px;
    margin-top: -410px;
    margin-left: 80px;
    z-index: 2;
  }

  .p__container {
    margin: auto;
    width: 344px;
    height: 290px;
    padding: 10px;
  }

  .p__container > p {
    font-size: 22px;
  }

  .p__container > p > b {
    font-weight: 700;
  }

  .circle {
    height: 15px;
    width: 15px;
    background: var(--pink);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-top: 15px;
  }

  .contact-us {
    display: none;
  }
}
