:root {
  --margin-navbar: 50px;
  --margin-text-child: 90px;
  --margin-images: 100px;
  --pink: #fb088c;
  --black: #212222;
}

/* Reset and default styles */

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
}

/* Styles in desktop */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.logo {
  align-self: center;
  margin-left: var(--margin-navbar);
  height: 23px;
  width: 185px;
}

.navbar__container--items {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  margin-right: var(--margin-navbar);
  width: 350px;
}

.navbar__container--items > span {
  background-image: linear-gradient(#fb088c, #fb088c);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  padding: 5px;
  text-decoration: none;
  transition: background-size 0.3s;
}
.navbar__container--items > span:hover,
.navbar__container--items > span:focus {
  background-size: 100% 2px;
}

.navbar__container--items span:hover {
  cursor: pointer;
}

.hamburger {
  display: none;
}

.close {
  display: none;
}

body {
  min-width: 320px;
}

.body__container {
  display: flex;
  margin: auto;
  padding: 15px;
  flex-direction: column;
  width: 90%;
}

.body__container--first-child {
  display: flex;
  flex-direction: column;
  height: 900px;
  margin-bottom: 50px;
}

.first,
.second,
.third {
  font-weight: 700;
  font-size: 110px;
}

.first {
  border-bottom: 1px solid #212222;
  z-index: 1;
}

.second {
  z-index: 3;
}

.third {
  border-top: 1px solid #212222;
  z-index: 1;
}

.third > h1,
.first > h1 {
  text-align: left;
  margin-left: var(--margin-text-child);
}

.second > h1 {
  text-align: right;
  margin-right: 200px;
}

.mug {
  width: 645px;
  height: 601px;
  z-index: 2;
  align-self: flex-end;
  margin-top: -770px;
  margin-right: -5px;
}

.circle {
  height: 15px;
  width: 15px;
  background: var(--pink);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-top: 15px;
}

.contact-us {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  transform: rotate(90deg);
  position: absolute;
  top: 26%;
  right: 0;
  padding: 10px;
  margin-right: -70px;
  height: 50px;
  width: 200px;
}

.line {
  align-self: center;
  margin-right: 30px;
  transform: rotate(90deg);
}

.contact-us > h4 {
  align-self: center;
  font-weight: 100;
}

.contact-us > h4:hover {
  cursor: pointer;
  color: var(--pink);
  transform: scale(1.05);
  transition: 0.2s ease;
}

.p__container {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 auto;
  width: 830px;
  height: 140px;
  padding: 10px;
}

.p__container > p {
  margin-left: 20px;
  font-weight: 100;
  line-height: 35px;
  font-size: 25px;
  padding: 5px;
  width: 95%;
}

.p__container > p > b {
  font-weight: 700;
}

.tshirt__container,
.bottle__container {
  display: flex;
  margin-top: var(--margin-images);
  width: 617px;
  height: 565.04px;
  overflow-y: hidden;
  z-index: 1;
}

.tshirt {
  background-image: url("../assets/Tshirt1.png");
}

.tshirt__dark {
  background-image: url("../assets/Tshirt2.png");
}

.tshirt,
.tshirt__dark {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 442.11px;
  height: 503.46px;
  margin: auto;
  transform: scaleX(-1);
  transform: matrix(-0.99, -0.15, -0.15, 0.99, 0, 0);
  z-index: 2;
}

.tshirt__container--text,
.bottle__container--text {
  position: absolute;
  z-index: 3;
}

.tshirt__container--text > h1,
.bottle__container--text > h1 {
  margin-top: 150px;
  font-size: 89.31px;
}

.tshirt__container--text > p,
.bottle__container--text > p {
  font-size: 16px;
  width: 50%;
}

.tshirt__container--colors,
.tshirt__container--colors {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #212222;
  width: 615px;
  height: 80px;
}

.black,
.pink,
.bottle__pink {
  align-self: center;
  width: 14px;
  height: 45.8px;
  transform: rotate(90deg);
}

.black:hover,
.pink:hover,
.buy__button:hover,
.bottle__pink:hover,
.bottle__buy--button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s ease;
}


.black {
  background-color: var(--black);
  margin-left: 17px;
}

.pink {
  background-color: var(--pink);
  margin-left: 50px;
}

.bottle__pink {
  background-color: var(--pink);
  margin-left: 20px;
}

.bottle {
  background-image: url("../assets/Bottle1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 257px;
  height: 510px;
  margin: auto;
  z-index: 2;
}

.bottle__container {
  align-self: flex-end;
}

.buy__button,
.bottle__buy--button {
  background-image: url("../assets/buy-button.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  align-self: center;
  right: 0;
  width: 84px;
  height: 23.85px;
}

footer {
  color: white;
  display: flex;
  flex-direction: row;
  background-color: #212222;
  margin-top: var(--margin-images);
  width: 100%;
  height: 468px;
}

.footer__container--email {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

.footer__container--email span {
  font-size: 25px;
  font-weight: 400;
  padding: 5px;
  margin-left: var(--margin-text-child);
}

.footer__container--form-email img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s ease;
}

.email,
.title {
  margin-top: var(--margin-text-child);
}

.footer__container--form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.footer__container--form > h2 {
  font-size: 35px;
}

.footer__container--form > input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  margin-top: var(--margin-navbar);
  outline: none;
  height: 60px;
  width: 95%;
}

.footer__container--form > input,
.footer__container--form > input::placeholder {
  color: white;
  font-size: 20px;
}

.footer__container--form-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  width: 95%;
}

.footer__container--form-email > div {
  margin: auto;
  width: 90%;
}

.checkbox {
  appearance: none;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.3s;
  background-color: var(--black);
  height: 20px;
  width: 17px;
}

@media only screen and (max-width: 810px) {
  /* Styles in iPad */

  .second > h1 {
    width: 650px;
    margin-left: -200px;
  }

  .body__container--first-child {
    height: 900px;
  }

  .contact-us {
    display: none;
  }

  .footer__container--form-email img {
    width: 110px;
    height: 30px;
    margin-top: none;
  }
}

@media only screen and (max-width: 375px) {
  /* Styles in mobile */

  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .logo {
    align-self: center;
    margin-left: 10px;
    width: 149px;
    height: 19px;
  }

  .navbar__container--items {
    display: none;
  }

  .visible {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    right: 0;
    margin-top: 40px;
    margin-right: 20px;
    z-index: 3;
  }

  .visible span {
    cursor: pointer;
    padding: 5px;
  }

  .hamburger {
    align-self: center;
    cursor: pointer;
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
    width: 30px;
    height: 20px;
  }

  .closeButton {
    cursor: pointer;
    margin-top: 15px;
    width: 15px;
    height: 15px;
  }

  .body__container {
    display: flex;
    margin: auto;
    padding: 0;
    flex-direction: column;
    width: 100%;
  }

  .body__container--first-child {
    height: 500px;
  }

  .first,
  .second,
  .third {
    font-weight: 700;
    font-size: 60px;
    padding: 5px;
  }

  .first {
    border-bottom: 1px solid #212222;
    z-index: 2;
  }

  .second > h1 {
    text-align: left;
    z-index: 2;
    width: 370px;
    margin-left: -110px;
  }

  .third {
    border-top: 1px solid #212222;
    z-index: 2;
  }

  .third > h1,
  .first > h1 {
    text-align: right;
    margin-left: 70px;
    width: 100%;
  }

  .mug {
    display: flex;
    margin: auto;
    height: 310px;
    width: 340px;
    margin-top: -410px;
    margin-left: 80px;
    z-index: 2;
  }

  .p__container {
    margin: auto;
    width: 344px;
    height: 290px;
    padding: 10px;
  }

  .p__container > p {
    font-size: 22px;
  }

  .p__container > p > b {
    font-weight: 700;
  }

  .circle {
    height: 15px;
    width: 15px;
    background: var(--pink);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-top: 15px;
  }

  .contact-us {
    display: none;
  }

  .tshirt__container,
  .bottle__container {
    margin-top: 60px;
    width: 463.1px;
    height: 520px;
  }

  .tshirt__container--text > p,
  .tshirt__container--text > h1 {
    margin-left: 15px;
  }

  .tshirt__container--text > h1,
  .bottle__container--text > h1 {
    font-size: 50px;
  }

  .bottle__container--text > p,
  .bottle__container--text > h1 {
    margin-left: 100px;
  }

  .tshirt,
  .tshirt__dark {
    width: 320.31px;
    height: 365.24px;
    transform: matrix(-0.98, -0.21, -0.21, 0.98, 0, 0);
    margin-left: 120px;
  }

  .bottle {
    width: 182px;
    height: 362px;
    margin-right: 20px;
    margin-top: 110px;
  }

  .tshirt__container--colors,
  .bottle__container--colors {
    flex-direction: column;
    margin-top: 30px;
    width: 95%;
    height: 130px;
  }

  .black,
  .pink,
  .buy__button,
  .bottle__buy--button {
    position: absolute;
    left: 0;
  }

  .bottle__pink {
    position: absolute;
    left: 0;
    margin-left: 110px;
  }

  .black {
    background-color: var(--black);
    margin-left: 20px;
  }

  .pink {
    background-color: var(--pink);
    margin-left: 80px;
  }

  .buy__button {
    bottom: 0;
    margin-left: 8px;
    margin-bottom: 30px;
  }

  .bottle__buy--button {
    bottom: 0;
    margin-left: 95px;
    margin-bottom: 30px;
  }

  footer {
    flex-direction: column-reverse;
  }

  .footer__container--email {
    width: 100%;
    height: 30%;
  }

  .email {
    margin-top: 60px;
  }

  .footer__container--email span {
    margin-left: 10px;
    font-size: 18px;
    padding: 3px;
  }

  .footer__container--form {
    flex-direction: column;
    width: 100%;
    height: 70%;
  }

  .title {
    margin-top: 0;
  }

  .title {
    margin-top: 30px;
  }

  .footer__container--form > h2 {
    font-size: 26px;
    margin-left: 10px;
  }

  .footer__container--form > input {
    background: none;
    border-bottom: 1px solid white;
    margin: auto;
    margin-top: none;
    outline: none;
    width: 95%;
  }

  .footer__container--form > input,
  .footer__container--form > input::placeholder {
    color: white;
    font-size: 20px;
  }

  .footer__container--form-email {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }

  .footer__container--form-email span {
    font-size: 14px;
    margin-left: 10px;
  }

  .footer__container--form-email > div {
    margin: auto;
    width: 90%;
  }

  .footer__container--form-email img {
    width: 91.1px;
    height: 29px;
    margin-top: 30px;
    margin-left: 10px;
  }

  .checkbox {
    margin-left: 0;
    height: 15px;
    width: 15px;
  }
}
