:root {
  --margin-navbar: 50px;
  --pink: #fb088c;
  --black: #212222;
}

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
}

/* Nav styles in desktop */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.logo {
  align-self: center;
  margin-left: var(--margin-navbar);
  height: 23px;
  width: 185px;
}

.navbar__container--items {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  margin-right: var(--margin-navbar);
  width: 350px;
}

span {
  background-image: linear-gradient(#fb088c, #fb088c);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  padding: 5px;
  text-decoration: none;
  transition: background-size 0.3s;
}
span:hover,
span:focus {
  background-size: 100% 2px;
}

.navbar__container--items span:hover {
  cursor: pointer;
}

.hamburger {
  display: none;
}

.close {
  display: none;
}

body {
  min-width: 320px;
}

@media only screen and (max-width: 375px) {
  /* Nav styles in mobile */

  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .logo {
    align-self: center;
    margin-left: 10px;
    width: 149px;
    height: 19px;
  }

  .navbar__container--items {
    display: none;
  }

  .visible {
    border-bottom: 2px solid #fb088c;
    border-top: 2px solid #fb088c;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    right: 0;
    margin-top: 40px;
    margin-right: 20px;
  }

  .visible span {
    cursor: pointer;
    padding: 5px;
  }

  .hamburger {
    align-self: center;
    cursor: pointer;
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
    width: 30px;
    height: 20px;
  }

  .closeButton {
    cursor: pointer;
    margin-top: 15px;
    width: 15px;
    height: 15px;
  }
}
